@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
main{
    display: flex;
    background: black url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}
iframe{
    margin-top: 80px;
    margin-left: 22px;
    width: 265px;
    height: 469px;
}


section#telefone{
    width: 311px;
    height: 627px;
    background: transparent url('../imagens/frame-iphone.png') no-repeat ;
    margin: auto;
}

a{
    margin-bottom: 15px;
    border-radius: 50%;
    height: 50px;
    padding: 15px;
}


img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}
img:hover{
    border: 3px solid rgba(255, 255, 255, 0.568);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.692);
    transform: translate(-5px, -5px);
    transition: transform .2s;
    
}

section#redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 25px 25px 0px 5px;
}